body {
	font-family: Arial, sans-serif;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.containers_cv {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.cv_recto, .cv_verso {
	border: 2px solid black;
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px;
	z-index: 0;
	height: 666px;
	width: 500px;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cv_recto {
	background-color: white;
	display: flex;
    justify-content: space-between;
    align-items: center;
	flex-direction: column;
	right: 50%;
}

.cv_verso {
	background-color: white;
	display: grid;
	grid-template-rows: 20% 80%; 
	grid-template-columns: auto auto;
	left: 50%;
}

.re_me {
	width:160px;
	border-radius: 50%;
}

.rectangle {
	width: 100%;
    height: 150px; 
    background-color: rgb(255, 214, 221);
	text-align: center;
	display:flex;
	justify-content: space-around;
	align-self: center;
	margin-top: -85%;
	margin-bottom: -10px;
}

.contact {
	font-family: "Impact", fantasy;
}

.fa {
	font-size: 12px;
	margin-right: 10px;
}

.p_contact {
	font-size: 15px;
	margin-bottom: -5px;
}

.name_sup {
	
	font-family: "Apple Chancery", cursive;
	font-size: 70px;
	margin:0;
	z-index:2;
}

.name_inf1 , .name_inf2{
	font-size: 100px;
	position: relative;
	margin:0;
	z-index:1;
	color: rgb(255, 230, 233);
	font-family: "Snell Roundhand", cursive;
	
}
.name_inf1 {
	top: -45%;
}

.name_inf2 {
	top: -57%;
}

.resum {
	width: 400px;
	margin-bottom: 20%;
}

.presentation {
    grid-column: 1 / 3; 
	position: relative;
	width:100%;
}
.script {
	height: 100px;
	font-size: 10px;
	flex-direction: column;
	width:100%;
}
.me {
    border-radius: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 65%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.myname {
	font-size: 18px;
	position: absolute;
	top: 10px;
	left: 55%;
}

.myjob {
	font-size: 15px;
	position: absolute;
	top: 30px;
	left: 55%;
}

.pink_circle {
    width: 225px;
    height:200px; 
    background-color: pink; 
	border-bottom-right-radius: 80% 100%;
	opacity: 0.4;
}

.title_part {
	font-size: 11px;
}

.pink_bar {
	border-top: 2px solid palevioletred;
	text-align: center;
	width: 80%;
}

.info_perso {
	width: 100%;
	font-size:10px;
	grid-column: 1;
	grid-row: 2 / 3;
	position: relative;
	top: 10%;
	height: 400px;
} 

.exp {
	font-size: 10px;
	grid-column: 2 / 3;
	grid-row:  2 / 3;
	position:relative;
	top: -13%;
}

.date {
	font-size: 7px;
}

.school {
	font-weight: bolder;
	margin-bottom:-10px;
}

.place_school , .work {
	font-weight: bolder;
}

.skill {
	margin-top: -5px;
}

.place, .place_school, .work_place, .work {
	display: inline-block;
}

.job {
	font-weight: bolder;
	margin-bottom: -10px;
}


.fa-solid {
	font-size: 10px;
	margin-right: 5px;
}

.first_palm {
	justify-content: flex-start;
	align-self: flex-end;
}

.palmier_bot {
	width:200px;
	margin:0;
	z-index: 1;
	position: relative;
}

.second_palm {
	justify-content: flex-end;
	align-self: flex-start;
}
.palmier_top {
	width:200px;
	z-index: 1;
	position: relative;
}


@media screen and (max-width: 935px) {
   
	.containers_cv {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.cv_recto , .cv_verso {
		position: absolute;
		width: 480px;
		height: 646px;
		transform: translate(-50%, -50%);
		transition: transform 0.3s, z-index 0.3;
		top: 15%;
	}

	.cv_recto {
		z-index: 1;
		left: 5%;
	}

	.cv_verso {
		z-index:0;
		left: 10%;
		transform: rotate(8deg);
	}
	
	.cv_verso:not(.active):hover, .cv_recto:not(.active):hover {
		background-color: rgb(255, 239, 241);
		cursor: pointer;
	}

	.cv_recto:not(.active) {
		transform: rotate(-8deg);
	}

	.cv_recto.active, .cv_verso.active {
        z-index: 2; 
		transform: translateX(0);
    }

	.containers_cv {
		width: 100%;
	}

	.first_palm, .second_palm {
		display: block;
	}

	.palmier_top, .palmier_bot {
		z-index:3;
		position:absolute;
		width: 130px;
	}

	.palmier_top {
		right:0;
		top:0;
	}

	.palmier_bot {
		left: 0;
		bottom:0;
	}

	.myname, .myjob {
		left: 55%;
	}

}

@media screen and (max-width: 450px) {
	.cv_recto, .cv_verso {
		width: 300px;
		height: 566px;
	}

	.p_contact {
		font-size: 12px;
	}

	.fa {
		font-size: 10px;
	}

	.re_me {
		width:130px;
		height: 130px;
	}
	.rectangle {
		height: 130px; 
	}

	.resum {
		width: 300px;
		font-size: 15px;
		margin-top: 15%;
	}

	.name_sup {
		font-size: 60px;
	}
	.name_inf1, .name_inf2 {
		font-size: 75px;
	}
	.name_inf1 {
		top: -40%;
	}

	.name_inf2 {
		top: -45%;
	}

	.exp, .info_perso {
		font-size: 8px;
	}

	.exp {
		top: -10%;
	}

	.pink_circle {
		width: 175px;
		height:150px; 
	}

	.myjob {
		left: 50%;
		top: 40px;
		font-size: 12px;
	}
	.myname {
		top: 20px;
		font-size: 15px;
		left : 50%;
	}

	.title_part {
		font-size: 10px;
	}
}